.App {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.TaskList {
  grid-column: 1;
}

.TaskView {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.TaskView > textarea {
  resize: none;
  height: 24em;
}